@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: large;
}

.meh{
    margin-top:50px
}
iframe{
    border-radius: 20px;
} 
.iframe{
    width: 1120px;
    height: 630px;
}
.meh2{
    margin-top:50px
    
}
@media only screen and (max-width:700px){
    
    iframe{
        width: 280px;
        height: 157.5px;
    }
    .iframe{
        width: 280px;
        height: 157.5px;
    }
}
@media only screen and (min-width:1366px){
    .iframe{
        width: 
    }
}    
